/* HEADER RESPONSIVE */
.headerResponsive{
    display: none;
}

/* SIDEBAR */
.left{
    background-color: #50C9C3;
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left>img{
    width: 65%;
    padding-top: 10%;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.left>h1{
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 1%;
    margin-bottom: 0px;
    text-shadow: 0px 2px 3px #505050;
}

.left>div>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 8.5px;
    margin-bottom: 20%;
    padding-left: 2%;
}

.nav>.nav-link{ /* Couleurs des liens de navigation */
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1%;
}

.socialMedia{ /* Disposition des icônes de RS */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 9%;
}

.socialMedia>a{ /* Couleurs et hover des icônes de RS */
    text-decoration: none;
    color: #ffffff;
}

.socialMedia>a:hover, .nav-link:hover{
    color: #1C94E1;
}

/* BLOC CENTRAL */
.right{ 
    background: #151515;
    height: auto;
    width: 100%;
    padding: 0%;
}

.whoIam-container{ /* Qui suis-je */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.whoIam-container>img{
    width: 25%;
}

.whoIam>h3, .skills-title>h3, .experiences>h3, .formations>h3, .contact-rs>h4{ /* Titres des différents blocs */
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    color:#ffffff;
    font-size: 28px;
    text-shadow: 0px 2px 3px #303030;
}


.whoIam>p, .contact-rs>p{
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.languages-title, .hobbies-title{
    color:#50C9C3;
    font-family:'Josefin Sans', sans-serif;
}

.languages, .hobbies{
    color: #ffffff;
    font-family:'Josefin Sans', sans-serif;
}

.languages-title, .languages, .hobbies-title, .hobbies{
    font-size: 15px;
    font-weight: bold;
}

.skills-title,.skills-container{    /* Outils & compétences */
    background-color: #B9B9B9;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.skills-container{
    padding-bottom: 2%;
}

.skills>.progress, .skills2>.progress{
    margin-bottom: 2%;
    background: #ffffff;
}

.skills>.progress>.progress-bar, .skills2>.progress>.progress-bar{
    background: #1C94E1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1C94E1, #50C9C3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1C94E1, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skills-subtitles{
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #151515;
    margin-bottom: 0px;
}

.skills-margin{
    margin-top: 15%;
}

.skills-margin-others{
    margin-bottom: 1.5%;
}

.skills-tools{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #151515;
    margin-bottom: 0%;
    margin-top: 3%;
}

.badge-skills{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #50C9C3;
    padding: 2%;
    margin-top: 1.5%;
    margin-right: 0.5%;
}

.experiences>h3, .formations>h3{
    padding-top: 2.5%;
    padding-bottom: 2%;
    text-align: center;
}

/* EXPERIENCES PROFESSIONNELLES */
.experienceOne>.experience-date, .experienceTwo>.experience-date,
.experienceOne>.work-type, .experienceTwo>.work-type,
.experienceOne>p>a, .experienceTwo>p{
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.experienceOne>.experience-date, .experienceTwo>.experience-date{
    color: #1C94E1;
}

.experienceOne>.work-type, .experienceTwo>.work-type{
    color: #ffffff;
}

.experienceOne>p>a, .experienceTwo>p{
    color: #50C9C3;
    text-decoration: none;
}

.experienceOne>p>a:hover{
    color: #1C94E1;
}

.experienceOne, .experienceTwo{
    margin-bottom: 3%;
    margin-top: 1%;
    display: inline-block;
    color: #ffffff;
}

.experienceOne>.work-skills, .experienceTwo>.work-skills{
    text-align: justify;
    display: inline-block;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.work-skills>li{
    color: #1C94E1;
}

.work-skills>li>span{
    color: #ffffff;
}

/* TIMELINE FORMATIONS*/
.formations{
    background-color: #B9B9B9;
}

.main-timeline{
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background: #151515;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-timeline .icon:before {
    background: #ffffff;
    border: 2px solid #151515;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #151515;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 15px;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 100px;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0px 2px 3px #707070;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .date-outer:before {
    background: #1C94E1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1C94E1, #50C9C3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1C94E1, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0;
}

.main-timeline .year {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    line-height: 36px;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.main-timeline .title {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 15px 0;
    color: #151515;
    padding-top: 4%;
    margin-bottom: 1%;
}

.main-timeline .description {
    margin-bottom: 0;
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

/* CONTACT */
.contact-box{
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contact-rs>h4{
    padding-top: 2.5%;
    padding-bottom: 2%;
    display: flex;
    justify-content: flex-start;
}

.contact-buttons{
    padding-top: 2.5%;
}

.contact-buttons>.buttons>button, .buttons>p>button{
    border-radius: 50px;
    padding: 1.5%;
    margin-top: 3%;
    width: 50%;
    background: #1C94E1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1C94E1, #50C9C3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1C94E1, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-buttons>.buttons>button>a, .buttons>p>button>a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}

.contact-buttons>.buttons>button:hover, .buttons>p>button:hover{background-image: linear-gradient(to right, #50C9C3 0%, #1C94E1  51%, #50C9C3  100%)}
.contact-buttons>.buttons>button:hover, .buttons>p>button:hover{
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 50px;}

.contact-buttons>.buttons>button:hover {
    background-position: left center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
    
.contact-rs>.meContacter-description{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.contact-rs>.rs-icons, .contact-rs>.meContacter-rs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-rs>.rs-icons>a{
    text-decoration: none;
    color: #50C9C3;
    padding: 0px;
    padding-right: 3%;
    padding-top: 1%;
}

.contact-rs>.rs-icons>a:hover{
    color: #1C94E1;
}

.contact-rs>.meContacter-rs{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}

.contact-rs>.contact>i{
    padding-right: 3%;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 991px) {

    /*BARRE DE NAV GAUCHE supprimée*/
    .left{
        display: none;
    }

    /*HEADER RESPONSIVE*/
    .headerResponsive-title>.menuResponsive{ /* menu burger */
        background-color: #151515;
    }

    .headerResponsive-title>.navbar>.navbar-collapse>ul>li>a{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600px;
        color: #B9B9B9;
    }

    .nav-link:hover{
        background-color: #54B7B9;
    }

    .headerResponsive{
        display: block;
        height: auto;
        width: 100%;
        background-color: #50C9C3;
        padding: 8%;
        color: #ffffff;
    }

    .headerResponsive-title>img{
        width: 60%;
        margin-top: 5%;
        padding-bottom: 0%;
    }
    
    .headerResponsive-title>h1{
        display: none;
    }

    .headerResponsive-title>div>h2{
        display: none;
    }

    .socialMedia{ /* Disposition des icônes de RS */
        margin-top: 4%;
    }

    /*QUI SUIS-JE ?*/
    .whoIam-container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .whoIam-container, .skills-title, .experiences, .formations, .contact-box{ /* Ajout de padding pour chaque bloc, au-dessus du titre */
        padding-top: 6%;
    }

    .whoIam-container>.whoIam>h3{
        text-align: center;
    }

    /* SKILLS */
    .skills-container{
        padding-bottom: 6%;
    }

    .badge-skills{
        padding: 4%;
        margin-top: 3%;
    }

    /*TIMELINE*/
    .main-timeline .date-content {
        margin-top: 35px;
    }
    .main-timeline .date-content:before {
        width: 22.5%;
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px;
    }
    .main-timeline .title {
        font-size: 17px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0;
    }

    /* CONTACT */
    .contact-buttons>.buttons>button, .buttons>p>button{
        border-radius: 50px;
        padding: 1.5%;
        margin-top: 3%;
        width: 85%;
        background: #1C94E1; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1C94E1, #50C9C3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1C94E1, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .contact-buttons>.buttons>button>a, .buttons>p>button>a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .contact-rs>h4{
        padding-top: 2.5%;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    /*BARRE DE NAV GAUCHE supprimée*/
    .left{
        display: none;
    }

    /*HEADER RESPONSIVE*/
    .headerResponsive-title>.menuResponsive{ /* menu burger */
        background-color: #151515;
    }

    .headerResponsive-title>.navbar>.navbar-collapse>ul>li>a{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #B9B9B9;
    }

    .nav-link:hover{
        background-color: #54B7B9;
    }

    .headerResponsive{
        display: block;
        height: 100wh;
        width: 100%;
        background-color: #50C9C3;
        padding: 8%;
        color: #ffffff;
    }

    .headerResponsive-title>img{
        width: 70%;
        padding-bottom: 5%;
        margin-top: 20%;
    }
    
    .headerResponsive-title>h1{
        display: none;
    }

    .headerResponsive-title>div>h2{
        display: none;
    }

    .whoIam>h3, .skills-title>h3, .experiences>h3, .formations>h3, .contact-rs>h4{
        font-size: 30px;
    } 

    .whoIam>p, .contact-rs>p{
        color: #ffffff;
        font-family:'Montserrat', sans-serif;
        font-size: 15px;
        text-align: justify;
    }

    .socialMedia{ /* Disposition des icônes de RS */
        margin-top: 0%;
    }

    /*QUI SUIS-JE ?*/
    .whoIam-container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .whoIam-container, .skills-title, .experiences, .formations, .contact-box{ /* Ajout de padding pour chaque bloc, au-dessus du titre */
        padding-top: 8%;
    }

    .whoIam-container>.whoIam>h3{
        text-align: center;
    }

    .languages-title, .languages, .hobbies-title, .hobbies{
        font-size: 17px;
        font-weight: bold;
    }

    /* SKILLS */
    .skills-container{
        padding-bottom: 6%;
    }

    .skills-subtitles{
        font-size: 16px;
        padding-top: 10%;
    }

    /* EXPERIENCES */

    .experienceOne>.experience-date, .experienceTwo>.experience-date,
    .experienceOne>.work-type, .experienceTwo>.work-type,
    .experienceOne>p>a, .experienceTwo>p{
        font-family:'Josefin Sans', sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    /*TIMELINE*/
    .main-timeline:before {
        margin: 0;
        left: 7px;
    }
    .main-timeline .timeline {
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }
    .main-timeline .icon {
        margin: auto 0;
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0;
    }
    .main-timeline .date-content:before {
        display: none;
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px;
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px;
    }
    .main-timeline .date {
        top: 30%;
    }
    .main-timeline .year {
        font-size: 27px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }
    .main-timeline .title {
        margin-bottom: 10px;
    }

    /* CONTACT */
    .contact-buttons>.buttons>button, .buttons>p>button{
        border-radius: 50px;
        padding: 1.5%;
        margin-top: 3%;
        width: 85%;
        background: #1C94E1; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1C94E1, #50C9C3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1C94E1, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .contact-buttons>.buttons>button>a, .buttons>p>button>a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .contact-rs>h4{
        padding-top: 2.5%;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}